In [1]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [2]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [3]:
pip install numpy

Note: you may need to restart the kernel to use updated packages.
Collecting numpy
  Using cached numpy-1.23.5-cp310-cp310-win_amd64.whl (14.6 MB)
Installing collected packages: numpy
Successfully installed numpy-1.23.5

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Users\eshwa\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [4]:
import numpy as np

In [5]:
pip install pandas

Collecting pandas
  Using cached pandas-1.5.2-cp310-cp310-win_amd64.whl (10.4 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Users\eshwa\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [7]:
import os

In [8]:
data = pd.read_csv("500_Person_Gender_Height_Weight_Index.csv") 
data_visual = pd.read_csv("500_Person_Gender_Height_Weight_Index.csv")

In [9]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [10]:
data.shape

(500, 4)

In [11]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.1-py3-none-any.whl (288 kB)
     -------------------------------------- 288.2/288.2 kB 1.4 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.5.2)
Requirement already satisfied: numpy>=1.17 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.23.5)
Collecting matplotlib!=3.6.1,>=3.1
  Downloading matplotlib-3.6.2-cp310-cp310-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 1.6 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
     ---------------------------------------- 55.3/55.3 kB ? eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     -------------------------------------- 965.4/965.4 kB 2.3 MB/s eta 0:00:00
Requirement already satisfied: pillow>=6.2.0 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.6-cp310-cp310-win_amd64.whl (163 kB)
     -------------------------------------- 163.6/163.6 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->seaborn) (2022.4)
Requirement already satisfied: six>=1.5 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.0.6 cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.6.2 seaborn-0.12.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Users\eshwa\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [12]:
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib
%matplotlib inline

In [13]:
def convert_status_to_description(x):
    if x['Index'] == 0:
        return 'Extremely Weak' 
    elif x['Index'] == 1:
        return 'Weak' 
    elif x['Index'] == 2:
        return 'Normal' 
    elif x['Index'] == 3:
        return 'Overweight' 
    elif x['Index']== 4:
        return 'Obesity'
    elif x['Index'] == 5:
        return 'Extreme Obesity'

In [14]:
data_visual['Status'] = data_visual.apply(convert_status_to_description,axis=1)

In [15]:
data_visual.head()

   Gender  Height  Weight  Index      Status
0    Male     174      96      4     Obesity
1    Male     189      87      2      Normal
2  Female     185     110      4     Obesity
3  Female     195     104      3  Overweight
4    Male     149      61      3  Overweight

In [16]:
def convert_gender_to_label(x):
    if x['Gender'] == 'Male':
        return 1
    elif x['Gender'] == 'Female':
        return 0

In [17]:
data_visual['gender_lbl'] = data_visual.apply(convert_gender_to_label,axis=1)
data_visual.head()

   Gender  Height  Weight  Index      Status  gender_lbl
0    Male     174      96      4     Obesity           1
1    Male     189      87      2      Normal           1
2  Female     185     110      4     Obesity           0
3  Female     195     104      3  Overweight           0
4    Male     149      61      3  Overweight           1

In [18]:
people = data_visual['Gender'].value_counts()
print(type(people))
people.head()

<class 'pandas.core.series.Series'>

Female    255
Male      245
Name: Gender, dtype: int64

In [19]:
categories = data_visual['Status'].value_counts()
categories

Extreme Obesity    198
Obesity            130
Normal              69
Overweight          68
Weak                22
Extremely Weak      13
Name: Status, dtype: int64

In [20]:
pip install scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Users\eshwa\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

  Downloading scikit_learn-1.2.0-cp310-cp310-win_amd64.whl (8.2 MB)
     ---------------------------------------- 8.2/8.2 MB 1.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\eshwa\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.23.5)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     -------------------------------------- 298.0/298.0 kB 2.1 MB/s eta 0:00:00
Collecting scipy>=1.3.2
  Downloading scipy-1.9.3-cp310-cp310-win_amd64.whl (40.1 MB)
     ---------------------------------------- 40.1/40.1 MB 1.9 MB/s eta 0:00:00
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.0 scipy-1.9.3 threadpoolctl-3.1.0

In [27]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
lbl_enc = LabelEncoder()
data.iloc[:,0] = lbl_enc.fit_transform(data.iloc[:,:])
one_hot_enc_for_gender = OneHotEncoder(categorical_features = [0]) 
data = one_hot_enc_for_gender.fit_transform(data).toarray()

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [28]:
df = pd.DataFrame(data) 
df.head()

,0,1,2,3,4,5,6,7,8,9,...,168,169,170,171,172,173,174,175,176,177
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
std_sc = StandardScaler()
df.iloc[:,0:-1] = std_sc.fit_transform(df.iloc[:,0:-1])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,168,169,170,171,172,173,174,175,176,177
0,-1.020204,1.020204,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,-0.119159,...,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,-0.400116,-0.396746,1.687055,0.0
1,-1.020204,1.020204,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,-0.119159,...,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,2.499275,-0.396746,-0.592749,0.0
2,0.980196,-0.980196,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,-0.119159,...,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,-0.400116,-0.396746,1.687055,0.0
3,0.980196,-0.980196,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,-0.119159,...,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,-0.400116,2.520504,-0.592749,0.0
4,-1.020204,1.020204,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,-0.119159,...,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,-0.400116,2.520504,-0.592749,0.0

In [31]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=0)
print(type(X_train))
X_train.head()

<class 'pandas.core.frame.DataFrame'>

,0,1,2,3,4,5,6,7,8,9,...,167,168,169,170,171,172,173,174,175,176
107,-1.020204,1.020204,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,-0.119159,...,-0.110208,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,-0.400116,-0.396746,-0.592749
336,0.980196,-0.980196,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,-0.119159,...,-0.110208,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,-0.400116,-0.396746,-0.592749
71,-1.020204,1.020204,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,-0.119159,...,-0.110208,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,-0.400116,-0.396746,1.687055
474,0.980196,-0.980196,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,-0.119159,...,-0.110208,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,-0.400116,2.520504,-0.592749
6,-1.020204,1.020204,-0.127515,-0.127515,-0.135388,-0.077693,-0.100504,-0.135388,-0.135388,8.392173,...,-0.110208,-0.077693,-0.077693,-0.089803,-0.110208,-0.163383,-0.214535,-0.400116,-0.396746,-0.592749

In [46]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [35]:
rfc = RandomForestClassifier(n_estimators=200, criterion='entropy', random_state=0)
rfc.fit(X_train, y_train)
y_pred_rfc = rfc.predict(X_test)

In [36]:
from sklearn.metrics import confusion_matrix

In [37]:
rfc_cm = confusion_matrix(y_test, y_pred_rfc) 
rfc_cm

array([[64,  0],
       [ 0, 36]], dtype=int64)

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
rfc_acc = accuracy_score(y_test, y_pred_rfc) 
rfc_acc*100

100.0

In [40]:
def trees_in_forest_vs_acc(trees, X_train=X_train, y_train=y_train, X_test=X_test, y_test=y_test):
    rfc = RandomForestClassifier(n_estimators=trees, criterion='entropy', random_state=0) 
    rfc.fit(X_train, y_train)
    y_pred = rfc.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    return acc

In [41]:
trees_list_for_randomForest = [100, 200, 300, 500, 700, 1000] 
acc_scores_for_trees_RFC = []

In [42]:
for x in trees_list_for_randomForest:
    acc_scores_for_trees_RFC.append(trees_in_forest_vs_acc(x))
acc_scores_for_trees_RFC

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [43]:
tree_vs_acc = pd.DataFrame({'No. of trees in Forest':trees_list_for_randomForest, 'Accuracy scores for Random Forest Classification':acc_scores_for_trees_RFC})

In [44]:
def health_test(gender, height, weight):
    individual_data_dict = {'Gender':gender, 'Height':height, 'Weight':weight}
    individual_data = pd.DataFrame(data = individual_data_dict, index=[0])
    individual_data.iloc[:,0] = lbl_enc.transform(individual_data.iloc[:,0])
    individual_data = one_hot_enc_for_gender.transform(individual_data).toarray() 
    df = pd.DataFrame(individual_data)
    df.iloc[:,:] = std_sc.transform(df.iloc[:,:]) 
    y_pred = rfc.predict(individual_data)
    if y_pred == 0:
        return 'Extremely Weak'
    elif y_pred == 1:
        return 'Weak' 
    elif y_pred == 2: 
        return 'Normal'
    elif y_pred == 3:
        return 'Overweight'
    elif y_pred == 4:
        return 'Obesity' 
    elif y_pred == 5:
        return 'Extreme Obesity'

In [47]:
sample_person = ['Female',155,78]
sample_result = health_test(*sample_person)
sample_result

NotFittedError: This LabelEncoder instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.